<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casos</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Todo</li>
                <li>Estrategia</li>
                <li>Diseño</li>
                <li>Web</li>
                <li>UX/UI</li>
                <li>Expos</li>
                <li>POP</li>
            </ul>
        </nav>
    </header>
    <h1>Conoce las cosas chidas que hacemos y como las hacemos</h1>
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <footer>
        <ul>
          <li>México</li>
          <li>Av. Asia 43
            Romero Rubio
            Venustiano Carranza
            15400 Ciudad de México, CDMX</li>
          <li>5585060658</li>
        </ul>
      </footer>
</body>
</html>