<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <div>
        <h1>titulo chido</h1>
    </div>
    <h2>info@ajolotestudio.com</h2>
    <footer>
        <ul>
          <li>México</li>
          <li>Av. Asia 43
            Romero Rubio
            Venustiano Carranza
            15400 Ciudad de México, CDMX</li>
          <li>5585060658</li>
        </ul>
      </footer>
</body>
</html>