<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu</title>
</head>
<body>
    <div>
      <h1>hablanos de tu negocio para comenzar a hacer cosas chidas</h1>
      <h3>Al llenar esta encuesta nos ayudas a conocer todos los datos necesari
       os para ver como va tu negocio y como podemos empezar a trabajar contigo, toda la información que pongas aqui solo la usaremos para diagnosticar que es necesario hacer para que tu proyecto o negocio sea el mejor del mercado.</h3>
    </div>
    <div>
      <label for="">Nombre de la empresa</label>
      <input type="text">
      <label for="">Nombre del responsable</label>
      <input type="text">
      <label for="">Telefóno</label>
      <input type="text">
      <label for="">Email</label>
      <input type="text">
      <label for="">Marca o marcas que maneja</label>
      <input type="text">
      <label for="">Producto y/o productos</label>
      <input type="text">
      <label for="">Ambito Geográfico</label>
      <input type="text">
      <label for="">Numero de trabajadores</label>
      <input type="text">
      <label for="">Años de experiencia en el mercado</label>
      <input type="text">
      <label for="">Misión (labor en el mercado)</label>
      <input type="text">
      <label for="">Visión (metas a conseguir)</label>
      <input type="text">
      <label for="">Valores</label>
      <input type="text">
      <label for="">Objetivos del negocio</label>
      <input type="text">
      <label for="">Aspectos a destacar de la empresa</label>
      <input type="text">
      <label for="">Objetivos que se persiguen con el Marketing</label>
      <input type="text">
      <label for="">Publico objetivo actual</label>
      <input type="text">
      <label for="">Precios de los productos o servicios</label>
      <input type="text">
      <label for="">Plan de promoción actual</label>
      <input type="text">
      <label for="">Poscionamiento web actual</label>
      <input type="text">
      <label for="">Ventajas competitivas de la empresa</label>
      <input type="text">
      <label for="">¿Que problemas tines en tus actuales estrategias de marketing?</label>
      <input type="text">
      <label for="">¿Como has intentado solucionar el problema?</label>
      <input type="text">
      <label for="">¿Los resultados han sido satisfactorios?</label>
      <input type="text">
      <label for="">¿Que oportunidades haz detectado que se pueden aprovechar?</label>
      <input type="text">
      <label for="">¿Cuánto presupuesto estas dispuesto a invertir en MKT para impulsar tu estrategia?</label>
      <input type="text">
      <label for="">¿Que problemas tines en tus actuales estrategias de marketing?</label>
      <input type="text">
      <label for="">¿Cuales son tus principales competidores?</label>
      <input type="text">
      <label for="">¿Que acciones de marketing ha realizado tu competencia</label>
      <input type="text">
      <label for="">¿Cual es tu posición competitiva en ventas respecto a tu competencia?</label>
      <input type="text">
      <label for="">¿Tu competencia esta posicionada en Google? que palabras clave has detectado?</label>
      <input type="text">
      <label for="">Cuanto presupuesto se ha invertido hasta ahora?</label>
      <input type="text">
    </div>
</body>
</html>