<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudio</title>
</head>
<body>
    <div>
     <h5>Nuestro compromiso</h5>
     <h1>NACEMOS Y SEGUIMOS CRECIENDO</h1>
     <h5>Para Empezar</h5>
     <h3>En Ajolote Studio hay espacio para todo el arte y diseño que quieres, nostros tomamos tu idea la moldeamos, le hechamos agua y hacemos que crezca cual arbol, la idea es lograr que tu marca sea conocida y adminrada, somos especialistas en MKT Digital y Tradicional, UX & UI, Programación, SEM, SEO, Diseño Digital, Creación de marcas.</h3>
     <h4>Entonces como lo hacen?</h4>
     <h5>Sabemos que ya has buscado en un buen de lugares y agencias, que siempre dicen lo mismo, que son los mejores, que son diferentes, que son innovadores, bueno la verdad es que nosotros también estamos hartos, por eso mismo de una vez veamos como te podemos ayudar.</h5>
    </div>
    <div>
        <ul>
            <li>SEO</li>
            <li>SEM</li>
            <li>Inbound Marketing</li>
            <li>Programación</li>
            <li>Diseño</li>
            <li>UX & UI</li>
            <li>Redes Sociales</li>
            <li>Planos</li>
            <li>Expos</li>
            <li>Creación de marca</li>
        </ul>
    </div>
    <div>
        <h1>Nuestros Clientes son los Mejores</h1>
        <ul>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
        </ul>
    </div>
    <div>
        <h1>inside the house</h1>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
    <footer>
        <ul>
          <li>México</li>
          <li>Av. Asia 43
            Romero Rubio
            Venustiano Carranza
            15400 Ciudad de México, CDMX</li>
          <li>5585060658</li>
        </ul>
      </footer>
</body>
</html>