<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div>
      <img src="/public/AJOLOTE STUDIO COLOR.png" alt="">
      <h1>WE MAKE GOOD MARKETING</h1>
      <h3>Nacemos como la idea de un grupo de mexicanos chidos que buscan cambiar la forma en que ves el arte, diseño y las tecnologias</h3>
      <h4>Nuestra misión es que ames tu negocio y que la gente vea por que es tan increible, amamos compartir ideas increibles</h4>
    </div>
    <div class="SEO">
      <img src="" alt="">
      <h2>SEO</h2>
      <h3>Search Engine Optimization: Es la manera organica de aperecer en los motores de busqueda.</h3>
    </div>
    <div class="SEM">
      <img src="" alt="">
      <h2>SEM</h2>
      <h3>Search Engine Marketing: Aquí tendremos que pagar para que aparezcas en todas partes.</h3>
    </div>
    <div class="INB-MKT">
      <img src="" alt="">
      <h2>INBOUND MARKETING</h2>
      <h3>Es el trabajo en conjunto de todas las tecnológias y herramientas para poder lograr que tu marca sea conocida.</h3>
    </div>
    <div class="PROGRA">
      <img src="" alt="">
      <h2>PROGRAMACIÓN</h2>
      <h3>Quieres una pagina genial o una app chida? Entra aquí y conoce que tanto podemos hacer juntos.</h3>
    </div>
    <div class="DISEÑO">
      <img src="" alt="">
      <h2>DISEÑO</h2>
      <h3>Una imagen? video? o animación, creación de marca, hey nosotros te lo creamos sin dudarlo. </h3>
    </div>
    <div class="UX-UI">
      <img src="" alt="">
      <h2>UX & UI</h2>
      <h3>Desarrollamos estrategias geniales para llegar a las personas idoneas y todo lo desarrollamos para crear una experciencia de usuario.</h3>
    </div>
    <div class="RRSS">
      <img src="" alt="">
      <h2>REDES SOCIALES</h2>
      <h3>Aprovechemos el poder de las Redes Sociales para llegar a todos los rincones del planeta de la manera más efectiva.</h3>
    </div>
    <div class="MercadoLibre/Amazon">
      <img src="" alt="">
      <h2>MERCADO LIBRE/AMAZON</h2>
      <h3>Qieres vender tus productos o servicios, nosotros ayudamos a crear todo lo necesario en estas plataformas para que logres vender.</h3>
    </div>
    <div class="PODCAST">
      <img src="" alt="">
      <h2>PODCAST</h2>
      <h3>Creamos programas y los producimos, desde el guión hasta el lanzamiento.</h3>
    </div>
    <div>
      <h4>así no la rifamos</h4>
      <h2>Tiraremos la casa por la ventana por tu proyecto, somos un equipo multidiciplinario de producción de marcas emocionales, productos digitales y experiencias únicas.</h2>
    </div>
    <footer>
      <ul>
        <li>México</li>
        <li>Av. Asia 43
          Romero Rubio
          Venustiano Carranza
          15400 Ciudad de México, CDMX</li>
        <li>5585060658</li>
      </ul>
    </footer>
  </body>
</html>
