<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valores</title>
</head>
<body>
    <h1>Conoce como somos y porque parecemos pescaditos en el agua</h1>
    <h5>antes que nada</h5>
    <h2>Conoce nuestros 10 valores unicos que hacen a ajolote chido</h2>
    <div class="generalvalores">
        <div>
             <h2>Desarrollarnos juntos</h2>
                <p>Tanto nuestros clientes como colaboradores, necesitan desarrollarse en conjunto, nuestra meta es que trabajar en equipo y aprender todos sobre la marcha "con o sin pedos de pormedio".</p>
        </div>   
        <div>
             <h2>Tu labor</h2>
                 <p>Que chido que todo quede como uno quiere, pero es importante el que nos expliques el como funciona, al final todos queremos entender el pedo al 100.</p>
        </div> 
        <div>
             <h2>Todo a su tiempo</h2>
             <p>Un trabajo bien hecho jamas tiene que ser apresurado, por eso siempre tenemos en cuenta que somo gente con capacidades y limitantes, la chamba siempre estara ahí pero el disfrutarla lo hace más chingon no?</p>
        </div>
        <div>
            <h2>Somos amigos, no?</h2>
            <p>Tu proyecto es super importante para nosotros, por eso tenemos que ser muy sinceros, no siempre estaremos de acuerdo en lo que desarrollemos o en la estrategia que tenemos que llevar, por eso es necesario que seamos amigos, el que nos cuentes si tienes pedos o ves algo que no te late, acercate ya que a nosotros tambien se nos pueden ir las cabras o escapar una idea chida.</p>
        </div>
        <div>
            <h2>Easy Peasy</h2>
            <p>constantemente seguimos aprendiendo, y nos late el poder crear cosas nuevas y únicas, pero siempre tenemos en cuenta que la adaptación es el mejor camino, por lo mismo siempre estamos abiertos a nuevas ideas, y no damos nada por hecho compa!</p>
        </div>
        <div>
            <h2>Toda una vida</h2>
            <p>Amamos el ver ideas y proyectos nacer y crecer con nosotros por lo que simepre busamos el estar juntos el mayor tiempo, creemos que para mejorar nuestro servicio contigo es necesario cumplir la regla de las 3 oportunidades para que así tengas todo un panorama de lo que podemos hacer, no solo tengas unas probada de nosotros.</p>
        </div>
        <div>
            <h2>Honestos como familia</h2>
            <p>Lo más seguro es que ya hayas trabajado con alguna agencia o pequeño freelance y estos te dejaron un mal sabor de boca, por eso nosotros nunca haremos nada que te haga daño o te cueste más, el ser honestos es nuestro mantra.</p>
        </div>
        <div>
            <h2>Hacemos cosas chidas</h2>
            <p>Constantemente seguimos mejorando y agregando talento anuestras oficinas, la evolución es el unico camino para seguir haciendo cosas chidas en este mundo, pero el ser amigo de gente talentosa es un camino más divertido.</p>
        </div>
    </div>
    <footer>
        <ul>
          <li>México</li>
          <li>Av. Asia 43
            Romero Rubio
            Venustiano Carranza
            15400 Ciudad de México, CDMX</li>
          <li>5585060658</li>
        </ul>
      </footer>
</body>
</html>